<!DOCTYPE html>
<head>
	<title>LED test</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<h1>LED remote Control test</h1>
<div>
    <img id="cam" src="{{ url_for('feed') }}" width="600">
</div>

<section>
    <label>led</label>
    <button id="send_on">ON</button>
    <button id="send_off">OFF</button>
    <span id="led_state"></span>
</section>
<seciton>
    <label for="angle_val">Input angle</label>
    <input type="text" id="angle_val">
    <button id="register">go</button>
    <span id="angle"></span>
</seciton>
<script src="../static/js/script.js"></script>
</body>
